<h1>Listing articles</h1>
 
<%= link_to 'New short URL', new_url_shortener_path %>

<table>
  <tr>
    <th>URL</th>
    <th>Short URL</th>
    <th></th>
  </tr>
 
  <% @url_shorteners.each do |url_shortener| %>
    <tr>
      <td><%= url_shortener.url %></td>
      <td><a href="<%= url_shortener.url %>">localhost:3000/<%= url_shortener.short %></a></td>
      <td><%= link_to 'Show', url_shortener_path(url_shortener) %></td>
      <td><%= link_to 'Edit', edit_url_shortener_path(url_shortener) %></td>
      <td><%= link_to 'Destroy', url_shortener_path(url_shortener), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>